* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.site-header {

    width: 100%;


    & .main-topbar {
     
      
        width: 100%;
       background-color:rgb(13, 45, 62);
    }

    & .topbar {
        width: 85%;
        display: flex;
        margin: 0 auto;
        justify-content: space-between;
        padding: 5px;
        align-items: center;

        & .icons {
        display: flex;
        gap:20px;
            font-size: 17px;
       
         


            & i {
                color: white;
            
              

                &:hover {
                    color: red;
                    
                }
            }

        }


        & .container {

            display: flex;
            padding: 5px;
            align-items: center;
            margin: 10px;


            & .hour {
                color: red;
                font-size: 15px;
                align-items: center;
            }

            & .top-left {
                font-size: 16px;
                margin-left: 10px;
                align-items: center;
                color: white;
            }

            & .sun {
                margin-left: 25px;
                font-size: 16px;
                color: white;

            }


        }
    }

    & .main-header {
     position:fixed;

     ;
        width: 100%;
        display: flex;

        & .container-header-inner {
            padding: 25px;
            width: 83%;
       
            margin: 0 auto;
            display: flex;
            justify-content: space-between;

            & .logo {
                display: flex;
                align-items: center;
            }

            & nav ul {
                display: flex;
                list-style: none;
                gap: 30px;
                text-align: center;

                & li {


                    & a {
                        font-size: 20px;
                        color: black;
                        text-decoration: none
                    }
                }
            }
        }
    }
}


#home{
width: 100%;
height: 110vh;
display: flex;
align-items: center;
padding-left: 10%;




background-image: url(https://preview.colorlib.com/theme/consultingbiz/assets/img/hero/h1_hero.jpg);
.home-contect{
    
align-items: center;

span{
    color: red;
    font-size: 20px;
    display: flex;
margin-bottom:30px;
}
h1{
    font-size: 100px;
font-weight: 800;

}
p{
    font-size: 20px;
    font-weight:400;
    margin:20px 30px;
}
button{
    font-size: 16px;
    color:black;
    background-color: white;
    border: 1px solid black;
    padding:20px;
    margin: 30px;
    &:hover{
        color:white;
        background-color: red;
    
    }
}
}

}

#services{
    width:100%;
    height: 110vh;
    padding-left: 20%;
.services-text{
align-items: center;
padding-top: 15%;

    span{
        font-size: 25px;
        line-height: 24px;
        color:red;
        margin: 10px;
        margin-top:60px;
       
    }
    h2{
      font-size: 50px;
      line-height: 24px;
  margin: 40px;
    }
 
}
.services-boxes{
    width: 90%;
   
    height: 110vh;
   display: flex;
   gap:20px;
  margin: auto 0;

  align-items: center;
:hover {
        background-color: red;
    }

.box{

    width: 50%;
    display: flex;
    gap: 20px;
    flex-direction: column;
   
    h4{
        font-size: 25px;
        font-weight: 600;
        line-height: 30px;

    }
   p{
    font-size: 18px;
    font-weight: 400;
    line-height:20px ;
   }
}
    }
}

#hero-contect{
    width: 100%;
    background-image: url(https://preview.colorlib.com/theme/consultingbiz/assets/img/gallery/section_bg02.jpg);
    height: 100vh;
margin-top:20%;
display: flex;
align-items: center;
padding-left: 10%;
.hero-contect-text{
    flex-direction: column;
 margin-left:5%;
 .hero-text{
    span{
        font-size: 22px;
        font-weight: 500;
        color:white;
        display: flex;
        margin-bottom: 30px;
     
    }
    h2{
        font-size: 50px;
        color: white;
        margin-bottom:30px;
    }
    .hero-top{
        color: white;
        font-size: 20px;
        margin-bottom: 20px;
    }
    .hero-bottom{
        color: rgb(206, 206, 206);
    }
    
 }

}
button{
    margin-top: 30px;
    font-size: 20px;
    font-weight: 500;
    color:white;
    border:1px solid black;
    padding:15px 40px;
    background-color: rgb(255, 33, 71);
    &:hover{
        background-color: white;
        color: black;

    }
}
}




